<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwMntccRovQKGdEftFttwX8Z1ZVAyGDxiWGChzH00XqOSuGixjJg"
  alt="Generator" id="searchIcon">

<form action="/" method="POST">
  <div>
    <input type="number" required="required" name="number" class="numberInput" />
  </div>
  <div class="selectContainer">
    <input type="radio" name="selected" value="paras" checked> Paragraphs
    <input type="radio" name="selected" value="sentences"> Sentences
    <input type="radio" name="selected" value="words"> Words
  </div>
  <div>
    <input type="submit" value="Generate" class="button">
  </div>
</form>
